<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">      
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/product">Product</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link"  routerLink="/rxjs">RXJS</a>
    </li>
  </ul>
    
  <router-outlet></router-outlet>

  </div>


