<!--The content below is only a placeholder and can be replaced.-->
<div>  
  <app-notification-board></app-notification-board> 
  <div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/product">Product</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link"  routerLink="/rxjs">RXJS</a>
    </li>

    <li class="nav-item">
      <a class="nav-link"  routerLink="/view">ViewChild</a>
    </li>

    <li class="nav-item">
      <a class="nav-link"  routerLink="/users">Dashboard</a>
    </li>
  </ul>
  </div>
  
  <router-outlet></router-outlet>

  </div>


